<%-
# HARDCODED PROTOTYPE DATA #####################################################

budgetGoal = Goal.new("budget", GoalCategory[:money])

goal_tasks = [
  GoalTask.new("enter receipts", budgetGoal),
]

@present_goal_tasks = goal_tasks
@present_goal_tasks_by_category = @present_goal_tasks.group_by(&:category_name)
@present_goal_tasks_by_category.default = []

# END HARDCODED DATA ###########################################################
-%>

<ol class="timeline-horizontal zebra">
  <%- GoalCategory.each do |category| %>
  <li>
    <h3>
      <span class=<%= "cat-#{category}" %>><%= category.abbrev %></span>
      <%= interactive_icon(Icon.add) %>
    </h3>

    <ol class="events">
      <%- @present_goal_tasks_by_category[category.name].each do |goal_task| %>
      <li class="event <%= goal_task.category_name %>">
        <%= semantic_icon(goal_task.icon, class: "cat-#{category}") %>
        <span class="description"><%= goal_task.description %></span>
      </li>
      <%- end %>
    </ol>
  </li>
  <%- end %>
</ol>
