<div class="event <%= item.type %>">
  <%= semantic_icon(item.icon) %>

  <span class="description" contenteditable="<%= item.editable %>">
    <%= item.display %>
  </span>

  <%- if item.image %>
  <%- attrs = { "data-lines": item.lines.count } if item.respond_to?(:lines) %>
  <%= image_tag(item.image, attrs || {}) %>
  <%- end %>

  <%- if item.relative_time %>
  <span class="timestamp"><%= item.relative_time %></span>
  <%- end %>

  <%- if item.editable %>
  <div class="controls"><%= interactive_icon(Icon.save) %></div>
  <%- end %>
</div>
