<li class="pomodoro <%= pomodoro.state %>">
  <div class="img-container">
    <%= image_tag("tomato.svg", width: 75, height: 75) %>
    <div class="img-overlay">
      <div class="duration"><%= pomodoro.duration %></div>
      <%= interactive_icon(Icon.timer) %>
    </div>
  </div>

  <%- if !pomodoro.items.empty? %>
  <ol class="events">
    <%- pomodoro.items.each do |item| %>
    <li><%= render partial: "item", object: item %></li>
    <%- end %>
  </ol>
  <%- end %>
</li>
