<%-
# HARDCODED PROTOTYPE DATA #####################################################

fake_today = "2017-10-14"
@now = DateTime.parse(fake_today)

@today_weekday = Date.today.strftime("%a")
@weekdays = %w(Mon Tue Wed Thu Fri Sat Sun)

@present = [
  Fun.new("arcade & Olive Garden", when: "2017-10-16 18:00 -0700"),
  Appointment.new("something else that takes up two lines", when: "2017-10-18 19:00 -0700"),
  Appointment.new("an appointment", when: "2017-10-18 18:00 -0700"),
  Appointment.new("other appointment", when: "2017-10-19 19:00 -0700"),
]

@present_by_weekday = @present.group_by(&:weekday)
@present_by_weekday.default = []

# END HARDCODED DATA ###########################################################
-%>

<h2>Present</h2>

<ol class="timeline-horizontal zebra">
  <%- @weekdays.each do |weekday| %>
  <li class="<%= @today_weekday == weekday ? 'today' : '' %>">
    <h3>
      <span><%= weekday %></span>
      <%= interactive_icon(Icon.add) %>
    </h3>

    <ol class="events">
      <%- @present_by_weekday[weekday].each do |event| %>
        <li><%= render partial: "item", object: event %></li>
      <%- end %>
    </ol>
  </li>
  <%- end %>
</ol>

<ol class="pomodoros events">
  <%= render partial: "pomodoro", object: Pomodoro.done(Book.new("War and Peace"), in: 20.minutes) %>
  <%= render partial: "pomodoro", object: Pomodoro.start(Fun.new("went to a new cafe with some folks")) %>
  <%= render partial: "pomodoro", object: Pomodoro.new(Appointment.new("Foo"), Task.new("Bar"), Task.new("Qux")) %>
  <%= render partial: "pomodoro", object: Pomodoro.new() %>
  <%= render partial: "pomodoro", object: Pomodoro.new() %>
  <%= render partial: "pomodoro", object: Pomodoro.new() %>
  <%= render partial: "pomodoro", object: Pomodoro.new() %>
</ol>
