<h3>Soon</h3>
<section class="pomodoros-and-items">
  <ol class="pomodoros drag-drop-zone">
    <%- @pomodoro_items[:soon].each do |pomodoro| %>
    <%= render partial: "pomodoro", object: pomodoro %>
    <%- end %>
  </ol>

  <ol class="items">
    <%- @pomodoro_items[:soon].each do |pomodoro| %>
      <%- pomodoro.items.each do |item| %>
      <li><%= render partial: "item", object: item %></li>
      <%- end %>
    <%- end %>
  </ol>
</section>

<h3>Now!</h3>
<section class="pomodoros-and-items action-box">
  <ol class="pomodoros drag-drop-zone">
    <%- @pomodoro_items[:now].each do |pomodoro| %>
    <%= render partial: "pomodoro", object: pomodoro %>
    <%- end %>
  </ol>

  <ol class="items">
    <%- @pomodoro_items[:now].each do |pomodoro| %>
      <%- pomodoro.items.each do |item| %>
      <li><%= render partial: "item", object: item %></li>
      <%- end %>
    <%- end %>
  </ol>
</section>

<h3>Done</h3>
<section class="pomodoros-and-items">
  <ol class="pomodoros drag-drop-zone">
    <%- @pomodoro_items[:done].each do |pomodoro| %>
    <%= render partial: "pomodoro", object: pomodoro %>
    <%- end %>
  </ol>

  <ol class="items">
    <%- @pomodoro_items[:done].each do |pomodoro| %>
      <%- pomodoro.items.each do |item| %>
      <li><%= render partial: "item", object: item %></li>
      <%- end %>
    <%- end %>
  </ol>
</section>
