<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> — FuturePerfect</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <h1><%= yield(:title) %></h2>
    </header>

    <main role="main">
      <%= yield %>
    </main>

    <footer>
      <p>
        Icons: Font Awesome by Dave Gandy —
        <a href="http://fontawesome.io">http://fontawesome.io</a>
      </p>
      <p>
        Tomato image —
        <a href="https://pixabay.com/en/food-green-health-plant-red-1294019/">Pixabay</a>
      </p>
    </footer>
  </body>
</html>
