<%- title = content_for(:title) ? yield(:title) : "Future Perfect" %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://cdn.jsdelivr.net/npm/wheelnav@1.7.1/js/dist/raphael.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/wheelnav@1.7.1/js/dist/wheelnav.min.js"></script>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <%= render partial: "nav_link", locals: { text: "Past", paths: [timeline_path] } %>
          <%= render partial: "nav_link", locals: { text: "Present & Future", paths: [dashboard_path, root_path] } %>
        </ul>
      </nav>
    </header>

    <main role="main">
      <section class="main-content">
        <%= yield %>
        <div id="category-menu" class="hidden"></div>
      </section>

      <%- if content_for?(:sidebar) %>
      <section class="sidebar">
        <%= yield(:sidebar) %>
      </section>
      <%- end %>
    </main>

    <footer>
      <p>Credits:</p>
      <ul>
        <li><a href="http://fontawesome.io">Font Awesowe</a> icons by Dave Gandy</li>
        <li>
          tomato image by
          <a href="https://pixabay.com/en/food-green-health-plant-red-1294019/">Pixabay</a>
        </li>
        <li>
          everything else &copy;
          <a href="mailto:arthaey+future-perfect@gmail.com">Arthaey Angosii</a>,
          2017
        </li>
      </ul>
    </footer>
  </body>
</html>
